doctype html
html
    head
        title Greska
    body
        form(action= url method='GET')
            p #{poruka}
            p Kliknite da se vratite na prethodnu stranicu
            input(type='submit' value="Natrag")