*{  font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
/*HEADER*/
#header{
    width: 100%;
    margin:auto;
    background-color:orange;
    position: relative;
    overflow: hidden;
    
    /*GRID*/
    display: grid;
    grid-template-columns: 1fr 1fr; 
}



#logo{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

ul[id="meni"]{
    margin-top: 1%;
    grid-column: 1/3;
    margin-left: 10px;
    margin-bottom: 10px;
}
ul[id="meni"] li{
    display: inline;
    margin-right: 2%;
    
}

#naziv{
    font-size: 1cm;
    justify-self: center;
    margin-left: 10px;
}


/*FOOTER*/


#footer{
    position: relative;
    left:0;
    
    width:100%;
    background-color:orange;
    height:3%;
    font-family: Arial, Helvetica, sans-serif;
   
}

/*Ostalo*/

body{
    background-color: rgb(70, 70, 70);
}

#side>form{
    line-height: 0.8cm;
    margin-left: 10%;
    margin-top: 5%;
}

.noviTekst{
    text-align: center;
    margin-top: 2%;
}

input[name="naziv"]{
    margin-right: 10%;
    width: 50%;
}

input[name="rvjezbe"]{
    margin-right: 10%;
    width: 50%;
}

input[name="rspiral"]{
    margin-right: 10%;
    width: 50%;
}
input[name="reset"]{
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
input[name="submit"]{
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 15%;
}



body{
    margin: 0;
}

#kontejner{
    width: 100%;
    height: 750px;
    display: flex;
    flex-wrap:wrap;
}
#side{
    width: 35%;
    background-color: #ffd698;
}
#glavniSadrzaj{
    background-color: #ffb84e;
    width: 65%;
    display: flex;
    flex-wrap: wrap;

}
.godina{
    background-color: #ffd698;
    margin: 3%;
	width: 40%;
	
}
.podaci{
    line-height: 0.8cm;
    text-align: center;
    margin-right: 10%;
}

/*MEDIA*/

@media only screen and (min-width:600px){
    #naziv{
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width:599px){
    #naziv{
        grid-row: 3/4;
        justify-self: left;
        margin-left: 5px;
    }
    #header{
        height: 20%;
        grid-template-columns: 1fr;
    }
  
    #kontejner{
        height: 1500px;
    }
    #side{
        width: 100%;
    }
    #glavniSadrzaj{
        width: 100%;
    }
    
    ul[id="meni"]{ 
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;
        grid-column: 1/3;
    }
    ul[id="meni"] li{
        display: inline;
        margin-right: 0%;
    }
}
