*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
/*HEADER*/
#header{
    width: 100%;
    margin:auto;
    background-color:orange;
    position: relative;
    overflow: hidden;
    
    /*GRID*/
    display: grid;
    grid-template-columns: 0.8fr 1.2fr; 
}



#logo{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

ul[id="meni"]{
    margin-top: 1%;
    grid-column: 1/3;
    margin-left: 10px;
    margin-bottom: 10px;
}
ul[id="meni"] li{
    display: inline;
    margin-right: 2%;
    
}

#naziv{
    font-size: 1cm;
    justify-self: center;
    margin-left: 0px;
}


/*FOOTER*/


#footer{
    position: relative;;
    left:0;
    
    width:100%;
    background-color:orange;
    height:3%;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*Ostalo*/

body{
    background-color: rgb(70, 70, 70);
}



/*MEDIA*/

body{
    margin: 0;
}

#glavniSadrzaj{
    width: 85%;
    height: 750px;
    background-color: wheat;
    margin-left: 7.5%;
    margin-right: 7.5%;
    position: relative;
}
#pojedinacni{
	background-color:#ffd698;
	box-shadow: 1px 1px lightgray;
	position: relative;
    	top:2%;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
    	width: 50%;
    	height: 50%;
	
}
#masovni{
	background-color:#ffd698;
	box-shadow: 1px 1px lightgray;
	position: relative;
    	top:4%;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
    	width: 50%;
    	height: 35%;
	
}

#pojedinacni>form{
    margin-left: 20%;
    margin-top: 10px;
    margin-right: 10%;
    width: 70%;
    line-height: 0.8cm;
}

#masovni>form{
    margin-left: 20%;
    line-height: 0.8cm;
    margin-right: 10%;
    width: 70%;
}
.noviTekst{
    padding-top: 20px;
    margin-left: 20%;
}

select[name="sVjezbe"]{
    width: 80%;
}
select[name="godina"]{
    width: 80%;
}
input[name="ime"]{
    width: 80%;
}
input[name="index"]{ 
    width: 80%;
}
input[name="email"]{
    width: 80%;
}
input[name="csv lista"]{
    width: 70%;
}


form[name="fPojedinacni"]>input[name="submit"]{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: 0;
    margin-left: 50%;
    margin-right: 10%;
}
input[name="vjezba"]{
    padding-right: 25%;
}

form[name="fMasovni"] > ul {
    list-style-type: none;
    border:1px solid gray;
    background-color: white;
    font-size: 0.4cm;
    line-height: 140%;
    width: 45%;
}
form[name="fMasovni"] > ul li {
    margin-left: -10%;
}

form[name="fMasovni"]>input[name="submit"]{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 50%;
    margin-right: 10%;
}
select[name="sZadatak"]{
    padding-right: 20%;
}
@media only screen and (min-width:600px){
    #naziv{
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width:599px){
    #naziv{
        grid-row: 3/4;
        justify-self: left;
        margin-left: 5px;
    }
    #header{
        height: 20%;
        grid-template-columns: 1fr;
    }
    #glavniSadrzaj{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    
    input[name="ime"]{
        padding-right: 0%;
    }
    input[name="index"]{
        padding-right: 0%;
    }

    

    
    ul[id="meni"]{ 
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;
        grid-column: 1/3;
    }
    ul[id="meni"] li{
        display: inline;
        margin-right: 0%;
    }
    form[name="fPojedinacni"]>input[name="submit"]{
        
        margin-left: 30%;
        margin-right: 20%;
    }
    form[name="fMasovni"]>input[name="submit"]{
       
        margin-left: 30%;
        margin-right: 20%;
    }
}
