*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
/*HEADER*/
#header{
    width: 100%;
    background-color:orange;
    position: relative;
    overflow: hidden;
     /*GRID*/
     display: grid;
     grid-template-columns: 0.8fr 1.2fr; 
}



#logo{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

ul[id="meni"]{ 
    margin-top: 1%;
    grid-column: 1/3;
    margin-left: 10px;
    margin-bottom: 10px;
}
ul[id="meni"] li{
    display: inline;
    margin-right: 2%;
    
}

#naziv{
    font-size: 1cm;
    justify-self: center;
    margin-left: 0px;
}


/*FOOTER*/


#footer{
    position: relative;
    left:0;
    
    width:100%;
    background-color:orange;
    height:3%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Ostalo*/

body{
    background-color: rgb(70, 70, 70);
    margin: 0;
}



/*MEDIA*/



#glavniSadrzaj{
    width: 85%;
    height: 700px;
    background-color: wheat;
    margin-left: 7.5%;
    margin-right: 7.5%;
    position: relative;
}
#novi{
	background-color:#ffd698;
	box-shadow: 1px 1px lightgray;
	position: relative;
    	top:10%;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
    	width: 70%;
    	height: 70%;
	
}

form[id="noviZadatak"]{
    margin-left: 20%;
    margin-top: 4%;
    margin-right: 20%;
    line-height: 0.8cm;
}

#noviTekst{
    padding-top: 20px;
    text-align: center;
}

input[name="naziv"]{
    padding-right: 10px;
}
select[name="vjezbaSelect"]{
    padding-right: 16%;
}
input[name="dodaj"]{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 14%;
}
input[name="postavka"]{
   width: 80%;
}
@media only screen and (min-width:600px){
    #naziv{
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width:599px){
    #naziv{
        grid-row: 3/4;
        justify-self: left;
        margin-left: 5px;
    }
    #header{
        height: 20%;
        grid-template-columns: 1fr;
    }
    #glavniSadrzaj{
        width: 100%;
        margin-left: 0%;
    }
    ul[id="meni"]{ 
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;
        grid-column: 1/3;
    }
    ul[id="meni"] li{
        display: inline;
        margin-right: 0%;
    }
}
