*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    
}
/*HEADER*/
#header{
    width: 100%;
    margin: auto;
    background-color:orange;
    position: relative;
    overflow: hidden;

    /*GRID*/
    display: grid;
    grid-template-columns: 1fr 1fr; 
}



#logo{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

ul[id="meni"]{ 
    margin-top: 1%;
    grid-column: 1/3;
    margin-left: 10px;
    margin-bottom: 10px;
}
ul[id="meni"] li{
    display: inline;
    margin-right: 2%;
}

#naziv{
    font-size: 1cm;
    justify-self: center;
    margin-left: 10px;
}


/*FOOTER*/


#footer{
    position: relative;
    left:0;
    
    width:100%;
    background-color:orange;
    height:3%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Ostalo*/

body{
    background-color: rgb(70, 70, 70);
}

/*MAIN*/
#main{
   
    width: 100%;
    background-color: wheat;
    padding-bottom: 20px;
    overflow-x: auto;
}
#podaci{
    margin-left: 10%;
    padding-top: 20px;
    line-height: 1cm;
}

#commiti {
    border: 1px solid gray;
    border-collapse:collapse; 
    margin-left: 10%;
    margin-top: 5%;
    height: 40%;
    width: 70%;
    padding-left: 5px;
}
#commiti th {
    border: 1px solid gray;
    border-collapse:collapse; 
    background-color: rgb(193, 226, 255);
    
}

#commiti td {
    border: 1px solid gray;
    border-collapse:collapse; 
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    text-align: center;
}


/*NOVO SPIRALA 2*/
#komiti{
    
    margin-left: 10%;
    padding-top: 20px;
    line-height: 1cm;
}
/*MEDIA*/

@media only screen and (min-width:600px){
    #naziv{
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width:599px){
    #naziv{
        grid-row: 3/4;
        justify-self: left;
        margin-left: 5px;
    }
    #header{
        height: 20%;
        grid-template-columns: 1fr;
    }
    ul[id="meni"]{ 
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;
        grid-column: 1/3;
    }
    ul[id="meni"] li{
        display: inline;
        margin-right: 0%;
    }
    
}
