*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(70, 70, 70);
    height: 100%;
    width: 100%;
    
}

#login{
    width: 400px;
    height: 200px;
    background-color: lightgray;
    position : absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
}

form> input[name="login"]{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-left: 60%;   
}

#login > form{
    margin-top:20%;
    margin-left: 20%;
}

input[name="password"]{
    width: 180px;
}

input[name="username"]{
    width: 180px;
}