*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
/*HEADER*/
#header{
    width: 100%;
    
    background-color:orange;
    position: relative;
    /*GRID*/
    display: grid;
    grid-template-columns: 0.8fr 1.2fr; 
}



#logo{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

ul[id="meni"]{ 
    margin-top: 1%;
    grid-column: 1/3;
    margin-left: 10px;
    margin-bottom: 10px;
}
ul[id="meni"] li{
    display: inline;
    margin-right: 2%;
    
}

#naziv{
    font-size: 1cm;
    justify-self: center;
    margin-left: 0px;
}

#side > ul {
    list-style-type: none;
    border:1px solid gray;
    background-color: white;
    padding-left: 5px;
    margin-left: 35%;
    margin-right: 20%;
    text-align: left;
    height: 40%;
    width: 30%;
    overflow-y: scroll; 
}

#side{
    font-family: Arial, Helvetica, sans-serif;
}
#side>ul li {
    padding-top: 2%;
}

/*FOOTER*/


#footer{
    position: relative;
    left:0;
    
    width:100%;
    background-color:orange;
    height:3%;
    font-family: Arial, Helvetica, sans-serif;
   
}

/*Ostalo*/

body{
    background-color: rgb(70, 70, 70);
}

#side>form{
    line-height: 0.8cm;
    margin-left: 10%;
    margin-top: 5%;
}

.noviTekst{
    text-align: center;
    margin-top: 10%;
}

input[name="naziv"]{
    padding-right: 10%;
}

input[name="rvjezbe"]{
    padding-right: 10%;
}

input[name="rspiral"]{
    padding-right: 10%;
}
input[name="reset"]{
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
input[name="submit"]{
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 15%;
}





#kontejner{
    width: 100%;
    margin-top: 0px;
    height: 750px;
    display: flex;
    flex-wrap:wrap;
}
#side{
    width: 35%;
    background-color: #ffd698;
}
#glavniSadrzaj{
    background-color: #ffb84e;
    width: 65%;
}

#glavniSadrzaj >table{
    border: 1px solid gray;
    border-collapse:collapse; 
    margin-left: 10%;
    margin-top: 5%;
    height: 40%;
    width: 80%;
    padding-left: 5px;
}
#glavniSadrzaj >table th {
    border: 1px solid gray;
    border-collapse:collapse; 
    background-color: aliceblue;
    
}

#glavniSadrzaj >table td {
    border: 1px solid gray;
    border-collapse:collapse; 
    padding-left: 10px;
}
.godina{
    background-color: #ffd698;
    height: 30%;
    width: 30%;
    margin: 5%;
}
.podaci{
    line-height: 0.8cm;
    padding-left: 30%;
}

/*MEDIA*/

@media only screen and (min-width:600px){
    #naziv{
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width:599px){
    #naziv{
        grid-row: 3/4;
        justify-self: left;
        margin-left: 5px;
    }
    #header{
        height: 20%;
        grid-template-columns: 1fr;
    }
  
    #kontejner{
        height: 1500px;
    }
    #side{
        width: 100%;
    }
    #glavniSadrzaj{
        width: 100%;
    }
    ul[id="meni"]{ 
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;
        grid-column: 1/3;
    }
    ul[id="meni"] li{
        display: inline;
        margin-right: 0%;
    }
}
