*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
/*HEADER*/
#header{
    width: 100%;
    margin:auto;
    background-color:orange;
    position: relative;
    overflow: hidden;

    /*GRID*/
    display: grid;
    grid-template-columns: 0.8fr 1.2fr; 
}



#logo{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

ul[id="meni"]{
    margin-top: 1%;
    grid-column: 1/3;
    margin-left: 10px;
    margin-bottom: 10px;
}
ul[id="meni"] li{
    display: inline;
    margin-right: 2%;
    
}

#naziv{
    font-size: 1cm;
    justify-self: center;
    margin-left: 0px;
}

#side > ul {
    list-style-type: none;
    border:1px solid gray;
    background-color: white;
    padding-left: 5px;
    margin-left: 35%;
    margin-right: 20%;
    text-align: left;
    height: 40%;
    width: 30%;
    overflow-y: scroll; 
}

#side{
    font-family: Arial, Helvetica, sans-serif;
}
#side>ul li {
    padding-top: 2%;
}

/*FOOTER*/


#footer{
    position: relative;
    left:0;
    
    width:100%;
    background-color:orange;
    height:3%;
    font-family: Arial, Helvetica, sans-serif;
   
}

/*Ostalo*/

body{
    background-color: rgb(70, 70, 70);
}

#side>form{
    line-height: 0.8cm;
    margin-left: 10%;
    margin-top: 5%;
}

.noviTekst{
    text-align: center;
    margin-top: 10%;
}

input[name="naziv"]{
    padding-right: 10%;
}

input[name="rvjezbe"]{
    padding-right: 10%;
}

input[name="rspiral"]{
    padding-right: 10%;
}
input[name="reset"]{
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
input[name="submit"]{
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 15%;
}



body{
    margin: 0;
}

#kontejner{
    width: 100%;
    display: flex;
}

.cetvrtina{
    width: 25%;
    flex: auto;
    background-color: #ffd698;
    border-right: 1px solid white;
    box-sizing: border-box;
}


.polovina{
    width: 50%;
    flex:auto;
    flex-wrap: wrap;
    
    /*GRID*/
    display: grid;
    grid-template-rows: 1fr 1fr; 
    background-color: #ffd698;
}

/*__*/


#odabirGodine{
    padding-top: 5%;
    text-align: center; 
}
#studentPretraga{
    padding-top: 5%;
    text-align: center; 
}

.cetvrtina > ul[id="godina"] {
    list-style-type: none;
    border:1px solid gray;
    background-color: white;
    padding-left: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    text-align: left;
    height: 49%;
    width: 50%;
    overflow-y: scroll; 
}

.cetvrtina>ul[id="imena"] li {
    padding-top: 4%;
}

.cetvrtina > ul[id="imena"] {
    list-style-type: none;
    border:1px solid gray;
    background-color: white;
    padding-left: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    text-align: left;
    height: 40%;
    width: 50%;
    overflow-y: scroll; 
}

.cetvrtina>ul[id="godina"] li {
    padding-top: 4%;
}

input[name="query"]{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

input[name="search"]{
    margin-left: 29.5%;
    margin-right: 29.5%;
    margin-top: 2%;
    width: 41%;
}

.folder{
    background-color: #f8c579;
    
    width: 80%;
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 2%;
    flex: auto;
    flex-basis: auto;
    margin-bottom: 1.5%;
    box-shadow: 5px 5px 8px gray;
    flex-wrap: wrap;
}

.item{
    background-color: #ffb950;
    height: 70px;
    width: 80px;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    border: 5px solid #ff9900;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: auto;
    float: left;
    position: relative;
}

div[class="proba"]+ul li[class="item"]{
    width: 30%;
}







.godina{
    background-color: #ffd698;
    height: 30%;
    width: 30%;
    margin: 5%;
}
.podaci{
    line-height: 0.8cm;
    padding-left: 30%;
}

/*MEDIA*/

@media only screen and (min-width:600px){
    #naziv{
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width:599px){
    #naziv{
        grid-row: 3/4;
        justify-self: left;
        margin-left: 5px;
    }
    #header{
        height: 20%;
        grid-template-columns: 1fr;
    }
  
    #kontejner{
        
    flex-wrap: wrap;
    }
    .cetvrtina{
        width: 50%;
    }
    .polovina{
        width: 100%;
    }
    ul[id="meni"]{ 
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;
        grid-column: 1/3;
    }
    ul[id="meni"] li{
        display: inline;
        margin-right: 0%;
    }
}
